*{
    box-sizing: border-box;
}
body{
    background-color: #848387;
}

#canvas-container{
    width: 280px;
    height: 280px;
    padding: 10px;
}

#canvas{
    width: 100%;
    height: 80%;
    border: 1px solid white;
    background-color: black;
}

#btns-container{
    display: flex;
    justify-content: space-between;
}

.pred-table,.pred-table-cell,.pred-table-row{
    border-radius: 2px;
    border: 4px solid black;
}

.pred-table-header{
    font-weight: bold;
}

.pred-table-cell{
    padding: 5px;
}

.curr-class{
    background-color: #637fed;
}

#prediction{
    display: flex;
    justify-content: center;    
}